<!DOCTYPE html>
<html>

<header>
  <nav>
    <div class="left">
      <%= link_to "Home", root_path %>
    </div>
    <div class="right">
      <div class="menu">
        <% if user_signed_in? %>
          <!-- ログイン中のユーザーの場合 -->
          <h4><%= current_user.email %></h4>
          <%= button_to 'ログアウト', destroy_user_session_path, method: :delete %>
        <% else %>
          <!-- ログインしていないユーザーの場合 -->
          <%= link_to "ログイン", new_user_session_path, class: 'post' %>
          <%= link_to "新規登録", new_user_registration_path, class: 'post' %>
        <% end %>
      </div>
    </div>
  </nav>
</header>

<%= yield %>

</body>
</html>